/* общие стили */
body {
    background-color:#2B2B2B ;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* Начало header */
.header {
    width: 100%;
    height: 75px;
    position: fixed;
    background: #464545;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header-nav {
    display: flex;
    gap: 0 30px;
    margin-left: 30px;
    margin-right: 940px;
}

/* подключить шрифт */
.header-nav-link {
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    

    color: #FFFFFF;
}

.header-buttons {
    display: flex;
    gap: 0 30px;
    margin-right: 10px;
}

.header-buttons-signIn {
    width: 200px;
    height: 50px;
    border: 1px solid #00FF38;
    border-radius: 10px;
    background: #464545;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.header-buttons-registration{
    width: 200px;
    height: 50px;
    background: #00FF38;
    border: 1px solid #00FF38;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #2A2A2A;
}

/* начало main */

.main {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    width: 1400px;
    margin: auto;
}

.searchPlace {
    background: #464545;
    border-radius: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 70px;
    gap: 0 30px;
}

.searchPlace-select {
    background: #464545;
    border: 1px solid #00FF38;
    border-radius: 10px;
    width: 400px;
    height: 52px;
    padding-left: 15px;
    

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.searchPlace-input {
    width: 600px;
    height: 50px;
    background: #464545;
    border: 1px solid #00FF38;
    border-radius: 10px;
    padding-left: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.onlineCourse-mainText-div {
    display: flex;
    height: 50px;
    margin: 40px 0;
    align-items: center;
}

.onlineCourse-mainText {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    
    color: #FFFFFF;
}

.subjects {

    margin-bottom: 100px;
    display: flex;
    gap: 40px 100px;
    flex-wrap: wrap;
    
}

.subjects-card {
    width: 400px;
    height: 200px;

    background: #2A2A2A;
    box-shadow: 0px 4px 12px #00FF38;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ;
    color: #FFFFFF;
    
   
}
.course {
    display:flex;
}

.course-card {
    display:flex;
    flex-direction:column;
    margin-left: 20px;
}
.course-card p {
    margin: 0px;
}

.course-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 50px;
}

.course-info {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}


.subjects-card  h4 {

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;


    margin-left: 20px;
}

.subjects-card img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.footer {
    height: 200px;
    background: #464545;
    display: flex;
    justify-content: space-between;
    padding: 0 260px;
    align-items: center;
}

.footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    margin-bottom: 40px;
}

.socialNetwork {
    display: flex;
    gap: 0 20px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    
}

.footer-left a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.footer-right a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.footer-right {
    display:flex;
    flex-direction:column;
    gap:20px 0;
}

/* наведение на кнопки\ссылки */

.header-buttons-signIn:hover {
    transition: background-color 0.5s ease;
    transform: scale(1.05);
    background: #00FF38;
    border: 1px solid #00FF38;
    box-shadow: 0px 4px 4px #2A2A2A;
    color: #2A2A2A;
}

.header-buttons-registration:hover {
    transition: background-color 0.5s ease;
    border: 1px solid #00FF38;
    box-shadow: 0px 4px 4px #2A2A2A;
    transform: scale(1.05);
}

.header-nav a:hover {
    color: #00FF38; 
}

.footer-left a:hover {
    color: #00FF38;  
}
.footer-right a:hover {
    color: #00FF38;
}

.subjects-card:hover {
    box-shadow: 0px 4px 20px 1px #00FF38;
    transition: background-color 0.5s ease;
    transform: scale(1.05);
}

.socialNetwork a:hover {
    transform: scale(1.1);
}

/* модальное окно */

.modal {
    z-index: 2;
    overflow: auto;

    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);

    width: 50%;
    height: 50%;

    background: #2A2A2A;
    border: 1px solid #00FF38;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0;

  }



.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: block;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0;

}

.inputReg {
    width: 500px;
    height: 50px;
    border: 1px solid #00FF38;
    border-radius: 10px;
    background: #2A2A2A;
    color: #FFFFFF;
    padding: 0 10px;
}

.inputReg:placeholder {
    color: #FFFFFF;
    left:50%;
}

.modal h2 {
    color: #FFFFFF;
}

.form button {
    width: 520px;
    height: 50px;
    background: #00FF38;
    border: 1px solid #00FF38;
    border-radius: 10px;
}

.tip {
    display:flex;
    align-items: center;
    gap: 0 10px;
}

.tip p{
    color:white;
}

.tip a{
    color:#00FF38;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.close:hover {
  color: #f00;
}

.course-page-title {
    display:flex;
    color: #FFFFFF;
    align-items:center;
}

.course-page-title h4 {
    margin:0 20px;
    width:250px;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
}

.course-page-title img{
    width:150px;
    height:150px;
}

.course-page-title-info {
    margin-left:200px;
}

.course-page {
    display:flex;
}

.course-page-info {
    margin-left:30px;
    width: 560px;
    border: 1px solid #00FF38;
    border-radius: 20px;
    color: #FFFFFF;
    margin-bottom:100px;
}

.course-page-info h4{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin:5%;
}

.lecture {
    border-top: 1px solid #00FF38;
}

.lecture h5 {
    margin-left:15px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.lecture li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.data {
    margin:200px 0 50px 0;
    width: 756px;
    height: 203px;
    background: #464545;
    border-radius: 20px;
    color: #FFFFFF;
    padding:15px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display:flex;
    gap:100px;
    align-items:center;
    justify-content:center;
}

.data-p{
    margin-bottom:100px;
}

.course-page button {
    margin-bottom:100px;
    width: 780px;
}

.full_info-main {
    display: flex;
    gap:200px;
    color:white;
}

.full_info-main-text {
max-width:700px;
}

